/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

/*for wrapper*/
.wrapper {
  max-width: 1286px;
  width: 92%;
  margin: 0 auto; }

header {
  padding: 40px 0; }
  header .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }

h1 {
  flex-basis: 14.5%; }

.social-links {
  flex-basis: 3.7%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .social-links__link {
    text-indent: -9999px; }
    .social-links__link:before {
      float: right;
      color: #ad2beb;
      font-family: FontAwesome;
      font-size: 13px;
      text-indent: 0; }
    .social-links__link--instagram::before {
      content: '\f16d'; }
    .social-links__link--facebook::before {
      content: '\f082'; }

.nav {
  flex-basis: 68%; }
  .nav__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .nav__list .nav__link:first-of-type {
    font-family: FontAwesome;
    content: '\f0c9'; }
  .nav__link {
    color: #ad2beb;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .nav .hamburger {
    display: none; }

.xtra-rare__list {
  margin-bottom: 138px; }
.xtra-rare__link {
  color: #ad2beb;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600; }
  .xtra-rare__link--span {
    color: #512d6e; }
.xtra-rare__figure {
  width: 36%;
  padding-top: 100px;
  display: inline-block;
  vertical-align: top;
  vertical-align: bottom; }
.xtra-rare .crwon-royal-xr {
  width: 39%;
  margin-left: 15%;
  display: inline-block;
  vertical-align: top;
  color: #162d71;
  text-align: center; }
  .xtra-rare .crwon-royal-xr__h2 {
    margin-bottom: 40px;
    font-family: serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .xtra-rare .crwon-royal-xr__span {
    margin-bottom: 74px;
    display: block;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .xtra-rare .crwon-royal-xr__p {
    margin-bottom: 61px;
    color: #512d6e;
    font-family: serif;
    font-size: 20px;
    line-height: 1.8; }
  .xtra-rare .crwon-royal-xr__link {
    padding: 14px 32px;
    border: 2px solid #e3b87e;
    margin-bottom: 58px;
    color: #ad2beb;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .xtra-rare .crwon-royal-xr .share {
    color: #ad2beb; }
    .xtra-rare .crwon-royal-xr .share__span {
      font-size: 13px;
      text-transform: uppercase; }
    .xtra-rare .crwon-royal-xr .share .social-links {
      width: 29%;
      display: inline-flex;
      justify-content: space-evenly; }
      .xtra-rare .crwon-royal-xr .share .social-links__link::before {
        font-family: FontAwesome;
        font-size: 19px; }
      .xtra-rare .crwon-royal-xr .share .social-links__link--twitter::before {
        content: '\f099'; }
      .xtra-rare .crwon-royal-xr .share .social-links__link--pinterest::before {
        content: '\f0d2'; }

/*# sourceMappingURL=style.css.map */
