/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

/*for wrapper*/
.wrapper {
  max-width: 1286px;
  width: 92%;
  margin: 0 auto; }

.header {
  padding: 40px 0; }
  @media (max-width: 540px) {
    .header {
      padding-bottom: 0; } }
  .header .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .header__h1 {
    flex-basis: 14.5%; }
    @media (max-width: 995px) {
      .header__h1 {
        flex-basis: 50%; } }

.social-links {
  margin-top: 3px;
  flex-basis: 3.7%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  @media (max-width: 540px) {
    .social-links {
      flex-basis: 20%; } }
  .social-links__link {
    text-indent: -9999px; }
    .social-links__link::before {
      float: right;
      color: #ad2beb;
      font-family: FontAwesome;
      font-size: 13px;
      text-indent: 0; }
    .social-links__link--instagram::before {
      content: '\f16d'; }
    .social-links__link--facebook::before {
      content: '\f082'; }
    .social-links__link:hover::before {
      color: #512d6e;
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out; }
      @media (max-width: 995px) {
        .social-links__link:hover::before {
          color: #ad2beb; } }

.nav {
  margin-left: 6%;
  flex-basis: 68%; }
  @media (max-width: 995px) {
    .nav {
      order: -1; } }
  .nav__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .nav__link {
    color: #ad2beb;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .nav__link--active::before {
      content: '\f0c9';
      padding-right: 9px;
      font-family: FontAwesome; }
    .nav__link:hover {
      color: #512d6e;
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out; }
  .nav .hamburger {
    display: none; }

@media (max-width: 995px) {
  /* hamburger added */
  .nav {
    width: 45px;
    height: 45px;
    flex-basis: 10%; }
    .nav .hamburger {
      display: block; }
    .nav__list {
      width: 100%;
      display: none;
      position: absolute;
      top: 65px;
      right: 0;
      left: 0;
      z-index: 4; }
      .nav__list li {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        border: 1px solid #fff;
        background-color: #512d6e;
        text-align: center;
        opacity: .8; }
    .nav__link {
      padding: 16px 0;
      color: #fff;
      text-transform: capitalize; }
    .nav .hamburger .ham1 {
      margin-bottom: 0;
      -webkit-transform: translateY(3px) rotate(-45deg);
      -ms-transform: translateY(3px) rotate(-45deg);
      transform: translateY(3px) rotate(-45deg);
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out; }
    .nav .hamburger .ham3 {
      margin-bottom: 0;
      -webkit-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg);
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out; }
    .nav .ham2 {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
    .nav__link:hover {
      color: #fff; }

  .hamburger span {
    width: 70%;
    height: 3px;
    border-radius: 20px;
    margin-bottom: 7px;
    display: block;
    background-color: #ad2beb;
    text-indent: -9999px; } }
  @media (max-width: 995px) and (max-width: 540px) {
    .hamburger span {
      margin-bottom: 3px; } }

@media (max-width: 995px) {
  .block {
    display: block;
    -webkit-animation-name: example;
    animation-name: example;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }

  /* hamburger styling end */ }
.banner {
  padding: 100px 0 0;
  text-align: center; }
  @media (max-width: 540px) {
    .banner {
      padding: 0; } }
  .banner .wrapper {
    position: relative; }
  .banner__slider {
    margin-top: 71px; }
  .banner .slide {
    width: 87%;
    margin-left: 17%;
    display: none; }
    @media (max-width: 995px) {
      .banner .slide {
        width: 100%;
        margin-left: 0; } }
  .banner .active {
    display: block; }
  .banner__slider__figure {
    width: 40.5%;
    display: inline-block;
    vertical-align: top; }
  .banner__info {
    width: 44%;
    display: inline-block;
    vertical-align: top;
    vertical-align: middle; }
  .banner__h2 {
    color: #ad2beb;
    font-size: 31px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2.4;
    letter-spacing: 6px; }
    @media (max-width: 995px) {
      .banner__h2 {
        line-height: 1.6;
        font-size: 26px; } }
    @media (max-width: 540px) {
      .banner__h2 {
        font-size: 13px; } }
  .banner .learn-more {
    padding: 16px 30px;
    border: 2px solid #ad2beb;
    color: #ad2beb;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px; }
    @media (max-width: 540px) {
      .banner .learn-more {
        padding: 6px; } }
  .banner .learn-more:hover {
    background-color: #ad2beb;
    color: #fff;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }
    @media (max-width: 995px) {
      .banner .learn-more:hover {
        background-color: #fff;
        color: #ad2beb; } }
  .banner__prev, .banner__next {
    text-indent: -9999px; }
  .banner__prev::after, .banner__next::after {
    float: right;
    font-family: FontAwesome;
    font-size: 54px;
    text-indent: 0;
    position: absolute;
    bottom: 178px; }
    @media (max-width: 540px) {
      .banner__prev::after, .banner__next::after {
        font-size: 24px; } }
    @media (max-width: 540px) {
      .banner__prev::after, .banner__next::after {
        bottom: 50px; } }
  .banner__prev:hover::after, .banner__next:hover::after {
    color: #ad2beb;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }
    @media (max-width: 995px) {
      .banner__prev:hover::after, .banner__next:hover::after {
        color: #512d6e; } }
  .banner__prev::after {
    content: '\f177';
    left: 15%; }
    @media (max-width: 995px) {
      .banner__prev::after {
        left: 0; } }
  .banner__next::after {
    content: '\f178';
    right: 0; }
  .banner__figure {
    width: 22%;
    position: absolute;
    top: 0;
    z-index: -1; }
    @media (max-width: 540px) {
      .banner__figure {
        display: none; } }

.active-slide {
  display: block; }

.whiskies {
  padding: 135px 0;
  background: url("/assets/images/images.jpeg");
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  opacity: .8; }
  .whiskies:hover {
    opacity: 1;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }
  @media (max-width: 995px) {
    .whiskies {
      opacity: 1; } }

.h3 {
  margin-bottom: 81px;
  font-size: 35px;
  letter-spacing: 8px; }

.paragraph {
  margin-bottom: 17px;
  font-family: serif;
  font-size: 23px;
  letter-spacing: 5px; }

.recipes {
  padding: 135px 0;
  background: url("/assets/images/images (1).jpeg");
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  opacity: .8; }
  .recipes:hover {
    opacity: 1;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }
  @media (max-width: 995px) {
    .recipes {
      opacity: 1; } }

.blog {
  padding: 135px 0;
  background: url("/assets/images/download.jpeg");
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  opacity: .8; }
  .blog:hover {
    opacity: 1;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }
  @media (max-width: 995px) {
    .blog {
      opacity: 1; } }

@media (max-width: 995px) {
  .xtra-rare {
    text-align: center; } }
.xtra-rare__list {
  margin-bottom: 138px; }
  @media (max-width: 995px) {
    .xtra-rare__list {
      margin: 40px 0; } }
.xtra-rare__link {
  color: #ad2beb;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600; }
  .xtra-rare__link--span {
    color: #512d6e; }
  .xtra-rare__link:hover {
    color: #512d6e;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }
.xtra-rare__figure {
  width: 36%;
  padding-top: 100px;
  display: inline-block;
  vertical-align: top;
  vertical-align: bottom; }
  @media (max-width: 995px) {
    .xtra-rare__figure {
      width: 50%;
      padding-top: 0; } }
.xtra-rare .crwon-royal-xr {
  width: 39%;
  margin-left: 15%;
  display: inline-block;
  vertical-align: top;
  color: #162d71;
  text-align: center; }
  @media (max-width: 995px) {
    .xtra-rare .crwon-royal-xr {
      width: 100%;
      margin: 60px 0; } }
  .xtra-rare .crwon-royal-xr__h2 {
    margin-bottom: 40px;
    font-family: serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .xtra-rare .crwon-royal-xr__span {
    margin-bottom: 74px;
    display: block;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .xtra-rare .crwon-royal-xr__p {
    margin-bottom: 61px;
    color: #512d6e;
    font-family: serif;
    font-size: 20px;
    line-height: 1.8; }
  .xtra-rare .crwon-royal-xr__link {
    padding: 14px 32px;
    border: 2px solid #e3b87e;
    margin-bottom: 58px;
    color: #ad2beb;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .xtra-rare .crwon-royal-xr__link:hover {
      background-color: #e3b87e;
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out; }
  .xtra-rare .crwon-royal-xr .share {
    color: #ad2beb; }
    .xtra-rare .crwon-royal-xr .share__span {
      font-size: 13px;
      text-transform: uppercase; }
    .xtra-rare .crwon-royal-xr .share .social-links {
      width: 29%;
      display: inline-flex;
      justify-content: space-evenly; }
      .xtra-rare .crwon-royal-xr .share .social-links__link::before {
        font-family: FontAwesome;
        font-size: 19px; }
      .xtra-rare .crwon-royal-xr .share .social-links__link--twitter::before {
        content: '\f099'; }
      .xtra-rare .crwon-royal-xr .share .social-links__link--pinterest::before {
        content: '\f0d2'; }
      .xtra-rare .crwon-royal-xr .share .social-links__link:hover::before {
        color: #512d6e;
        -webkit-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out; }

.tasting-notes {
  padding: 68px 0;
  margin-bottom: 85px;
  background-color: #0F583E;
  color: #fff;
  text-align: center;
  text-transform: uppercase; }
  .tasting-notes__h3 {
    margin-bottom: 68px;
    font-size: 35px;
    letter-spacing: 8px; }
  .tasting-notes__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    justify-content: space-evenly; }
    @media (max-width: 995px) {
      .tasting-notes__list {
        flex-wrap: wrap; } }
    @media (max-width: 995px) {
      .tasting-notes__list li {
        margin: 60px 0;
        flex-basis: 100%; } }
  .tasting-notes__h6 {
    margin-bottom: 39px;
    color: #e3b87e;
    font-size: 22px;
    letter-spacing: 6px; }
  .tasting-notes__p::first-letter {
    text-transform: capitalize; }
  .tasting-notes__p {
    font-family: serif;
    font-size: 18px;
    text-transform: lowercase; }

.master-whiskies {
  margin-bottom: 95px;
  text-align: center;
  text-transform: uppercase; }
  .master-whiskies__h4 {
    padding: 43px 0 55px;
    color: #ad2beb;
    font-size: 33px;
    letter-spacing: 8px; }
  .master-whiskies__list {
    padding-bottom: 29px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 995px) {
      .master-whiskies__list {
        flex-wrap: wrap;
        justify-content: space-around; } }
    .master-whiskies__list li {
      flex-basis: 25%; }
      @media (max-width: 995px) {
        .master-whiskies__list li {
          flex-basis: 40%; } }
      @media (max-width: 540px) {
        .master-whiskies__list li {
          margin-bottom: 50px;
          flex-basis: 80%; } }
  .master-whiskies__figure {
    margin-bottom: 36px; }
  .master-whiskies__p {
    color: #512d6e;
    font-size: 23px;
    letter-spacing: 1px; }

.footer {
  padding-top: 95px; }
  .footer__h5 {
    width: 15%;
    margin: 0 auto; }
    @media (max-width: 995px) {
      .footer__h5 {
        width: 50%; } }

/*# sourceMappingURL=style.css.map */
